html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #fafdff 0%, #f3f9ff 50%, #eef6ff 100%);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#b-cre{
    margin-top: 10px;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

header, footer {
    background: #7bb6f7;
}

.nav-item:hover {
    border-bottom: 2px solid blue;
    scale: 1.05;
    font-weight: 600;
}

.nav-item {
    border-bottom: 4px solid white;
}

#nav-title {
    border-right: 7px solid white;
}


#nav-title:hover {
    background: rgba(0, 0, 255, 0.1);
    scale: 1.03;
    border-radius: 5px;
    padding: 3px 3px;
    border-right: 0px solid white;
    font-weight: 500;
}

#but-edit {
    margin-top: 20px;
}

#img-sfondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}