@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At Stock Keeper, we value the privacy of our users and are committed to protecting their personal information. Any data collected through the application is handled responsibly and used only for purposes related to improving the service, managing the platform, and ensuring a better user experience. We do not share personal information with third parties unless required by law or necessary for the operation of the service. By using this application, users agree to the collection and use of information in accordance with this privacy policy.</p>
