@model MyApp1.Models.Items

@{
    ViewData["Title"] = "Create";
}

<h3>Create an item</h3>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" autocomplete="name" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="number" class="form-control" asp-for="Price" autocomplete="off" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <!-- asp-for serve a collegare un elemento HTML a una proprietà del model, in questo caso a Items.cs-->
        <!-- ViewBag.Category fornisce le opzioni da mostrare-->
        <select asp-for="CategoryId" asp-items="ViewBag.Category" class="form-control">
            <option value="">Select a category</option>
        </select>
    </div>
    <!--legge gli errori presenti nel ModelState e li mostra nella view. vedi metodo Create in ItemsController-->
    <div asp-validation-summary="All" class="text-danger"></div>
    <!--btn-primary da un colore azzurro caratteristico al bottone, classe pre impostata-->
    <button type="submit" id="b-cre" class="btn btn-primary">Submit</button>
</form>