@model MyApp1.Models.Items

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit an item</h3>

<form asp-action="Edit" method="post">
    <!--ottiene l'id del modello da editare con un input hidden-->
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" autocomplete="name" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="number" class="form-control" asp-for="Price" autocomplete="off" />
    </div>
    <br>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Category" class="form-control">
            <option value="">Select a category</option>
        </select>
    </div>
    <!--btn-primary da un colore azzurro caratteristico al bottone, classe pre impostata-->
    <button type="submit" id="but-edit" class="btn btn-primary">Submit</button>
</form>