@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html id="Ihtml" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApp1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyApp1.styles.css" asp-append-version="true" />
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        header{
            
            top: 0;
            width: 100%;
        }
        body{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
         
        }

        .main-text{
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            z-index: 1;
            background: rgba(255, 255, 255, 0.6);
            padding: 20px 30px;
        }

        main{
            
            text-align: center;
        }

        footer {
            padding-bottom: 15px;
            padding-top: 15px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        #main-cont{
            position: relative;
            width: 100%;
            height: 100%;
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin: auto;
        }

        #vid1{
            position: absolute;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: 0;
        }

        #but-ind{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 200px;
            height: 40px;
            z-index: 1;
        }

        #but-ind:hover{
            scale: 1.03;
        }

        #but-ind:active {
            scale: 0.97;
            
        }
    </style>
</head>
<body>
    <header>
        <nav id ="nav-index-home" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="nav-title">StockKeeper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-l" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-l" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nal-l" asp-area="" asp-controller="Items" asp-action="Index">Items</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 layout-main" id="main-cont">

        <video playsinline autoplay loop muted id="vid1">
            <source src="~/src/4294436-hd_1280_720_50fps.mp4" type="video/mp4" />
        </video>

        <div class="main-text">
            <h1 class="tit1">What's StockKeeper?</h1>
            <p>Stock Keeper is an application designed to simplify warehouse product management by allowing users to organize, monitor, and update items quickly and efficiently. With a clear and intuitive interface, it helps keep track of essential product information, improve organization, reduce errors, and make daily operations more efficient.</p>
            <a asp-controller="Items" asp-action="Index" class="btn btn-primary" id="but-ind">Go to Items</a>
        </div>

        
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - MyApp1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    
</body>
</html>
